
body {
    font-family: 'Cabin', sans-serif;
}





button {
  border: none;
  background-color: blue;
  color: white;
  border-radius: 10px;
}

button.primary-btn{
  background-color: blue;
  color: white;
}

button.secondary-btn{
  background-color: gray;
  color: black;
}
